.box{
    background-color:aqua;
    transform: translate(200px,300px);
    color: red;
}
.box1{
    margin: 100px;
    width: 200px;
    background-color:rgb(0, 85, 255);
    transform: rotate(-45deg);
    color: rgb(0, 255, 60);
}
.box2{
    margin: 250px;
    width: 200px;
    background-color:rgb(0, 85, 255);
    transform:scale(2,4);
}
.box3{
    margin: 0px;
    width: 200px;
    background-color:rgb(0, 255, 76);
    transform:scale(4,6);
   transform:skew(60deg);
}